.header {
  color: white;
  font-family: "Righteous", cursive;
  padding: 15px 40px 15px 40px;
  position: relative;
  z-index: 1;
  .logo {
    display: flex;
    .logo-img {
      width: 25px;
      height: 10px;
    }
  }
}
